services:
  whatsupdocker:
    image: getwud/wud:8.1
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3000:3000
    labels:
      - 'wud.tag.include=^v\d+.\d+$'
    environment:
        -  WUD_WATCHER_LOCAL_SOCKET=/var/run/docker.sock
        -  WUD_WATCHER_HOLODECK_HOST=holodeck
        -  WUD_WATCHER_HOMEASSISTANT_HOST=homeassistant
        -  WUD_WATCHER_MEALIE_HOST=mealie
        -  WUD_WATCHER_VAULTWARDEN_HOST=vaultwarden
        -  WUD_WATCHER_GPU_HOST=gpu
        -  WUD_WATCHER_DB2_HOST=db2
        -  WUD_WATCHER_NAS_HOST=nas
        -  WUD_WATCHER_KARAKEEP_HOST=karakeep
        -  WUD_REGISTRY_HUB_PUBLIC_LOGIN=rileymathews
        -  WUD_REGISTRY_HUB_PUBLIC_PASSWORD={{docker_password}}
