global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  # external_labels:
  #  monitor: 'codelab-monitor'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  # Example job for node_exporter
  - job_name: 'node_exporter'
    static_configs:
      - targets: 
        - 'enterprise:9100'
        - 'hoshi:9100'
        - 'homeassistant:9100'
        - 'bynar:9100'
        - 'uhura:9100'
        - 'k8s1:9100'
        - 'k8s2:9100'
        - 'k8s3:9100'
        - 'k8s4:9100'
        - 'k8s5:9100'
        - 'k8s-ctrlr:9100'
        - 'barclay:9100'
        - 'obrien:9100'
        - 'data:9100'
        - 'laforge:9100'
        - 'engineering:9100'
        - 'hoshi:9100'
        - 'public-proxy:9100'
        - 'sisko:9100'
        - 'memory-alpha:9100'

